body {
    margin-top: 0px;
    color: white;
    background-color: rgb(78, 78, 78);
}

.orangeB {
    color: white;
    background-color: rgb(255, 106, 0);
}

.orangeB:hover {
    background-color: rgb(250, 181, 131);
    color: white;
}

.tamanho{
    font-size:20px;
}
#grafite {
    background-color: rgb(62, 62, 62);
}


.formL {
    width: 380px;
    margin: auto;
    background-color: rgb(62, 62, 62);
    border-radius: 15px;
    padding: 20px;
}

.rodape {
    background-color: rgb(51,51,51);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align:center;
}

