@model StudyAssistant.Models.Administrator

@{
    ViewData["Title"] = "Login";
}


    <div class="container wrapper">
        <h3 class="text-center">Efetuar Login</h3>
            <form class="form formL" asp-controller="Administrators" asp-action="Login">

                <div class="form-group">
                    <label label-for="Name">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="email" autofocus="" />
                </div>
                <div class="form-group">
                    <label label-for="Name">Senha:</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="senha" />
                </div>

                <div class="btn-group btn-block">
                    <button asp-controller="Questions" asp-action="Index" class="btn btn-secondary">Voltar</button> &nbsp; &nbsp;
                    <button type="submit" class="btn orangeB">Entrar</button>
                </div>

            </form>

    </div>