@model StudyAssistant.Models.Administrator

@{
    ViewData["Title"] = "Login";
}


    <div class="container">
        <h3 class="text-center">Efetuar Login</h3>
        <form>
            <div class="form-group">
                <label label-for="Name">Nome:</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label label-for="Name">Email:</label>
                <input asp-for="Email" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <label label-for="Name">Senha::</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>

            <button asp-controller="Questions" asp-action="Index" class="btn btn-outline-light ml-5 mr-5">Voltar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>

    </div>